.col-3{
    background-color:#dcdcfa;
}

.col-9{
    background-color:#f0dcfa;
}

.dark{
    color:white;
}

.dark .col-3{
    background-color:#161958
}

.dark .col-9{
    background-color:#3b1149
}
